<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenLegalLab Know How Search</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        {% block core_header%}
        {% endblock core_header%}
        <br>
        {% block core_body%}
        {% endblock core_body%}
        <br>
        {% block core_footer%}
        {% endblock core_footer%}
    </div>
</body>
</html>