{% extends 'core.html' %}
{% block core_body%}
<div class="index">
    <form method="get" action="/">
        <input type="text" id="query" name="query" value="{{query}}">
        <input class="submit" type="submit" value="Search">
    </form>

    {% for result in results %}
        <div class="card">
        <div>
            <i class="score">Score {{result.score}}</i>
            <b>{{result.name}}</b>
        </div>
        <small>{{result.excerpt}}</small>
    </div>
    {% endfor %}
</div>
{% endblock core_body%}
