body{
    background-color: #C4DFE6;
}
h1{
    text-align: center;
}
form{
    margin-bottom: 30px;
    text-align:center;
}
#query{
    width: 40%;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}
.index{
    min-height: 400px;
}
.score{
    float: right;
    font-size: 12px;
    margin-right: 5px;
}
.card{
    display: block;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #86b4cd, #96c5dd, #86b4cd);
    box-shadow: 2px 2px 7px #ccc;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 25px;
}
.card b{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #162d3d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    margin-bottom: 10px;
    display: inline-block;
}
.card i{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #466c8d;
}
.card small{
    margin-top: auto;
    margin-left: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #36617d;
}